## Continuing with inmuebles_bogota.csv file

In [2]:
import pandas as pd
import numpy as np

Importing data

In [4]:
data=pd.read_csv(r"C:\Users\Emmanuel\OneDrive - Instituto Politecnico Nacional\GITHUB\Inmersion-datos-aiura-Latam\Inmersion-datos-Aiura-LATAM\Day 1\inmuebles_bogota.csv")

Writing a better name for columns just to not have future troubles

In [8]:
data=data.rename(columns={"Área":"Area","Baños":"Banos"})

In [10]:
data.head()

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9520 entries, 0 to 9519
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          9520 non-null   object
 1   Descripcion   9520 non-null   object
 2   Habitaciones  9520 non-null   int64
 3   Banos         9520 non-null   int64
 4   Area          9520 non-null   int64
 5   Barrio        9520 non-null   object
 6   UPZ           9478 non-null   object
 7   Valor         9520 non-null   object
dtypes: int64(3), object(5)
memory usage: 595.1+ KB

We can clearly see that "Valor" has an object type and we wanted with an "int" type

In [21]:
data.Valor.str.split() # we can apply string functions because is an object type. It returns a Series data with list
data.Valor.str.split(expand=True) #expand returns a new dataframe with the entrances of the list
# Check series.atributes for more info

      0              1
0     $    360.000.000
1     $    670.000.000
2     $  1.120.000.000
3     $    890.000.000
4     $    970.000.000
...  ..            ...
9515  $    290.000.000
9516  $    670.000.000
9517  $    900.000.000
9518  $    335.000.000
9519  $    144.990.000

[9520 rows x 2 columns]

Save the column of the number (which still is a object type)

In [26]:
data["cost_millions"]=data.Valor.str.split(expand=True)[1]
data.head()

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor,cost_millions
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000,360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000,670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000,1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000,890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000,970.000.000

We need to erase the "." in the numbers

In [32]:
data.cost_millions=data.cost_millions.str.replace(".","",regex=True) # regex
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9520 entries, 0 to 9519
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           9520 non-null   object
 1   Descripcion    9520 non-null   object
 2   Habitaciones   9520 non-null   int64
 3   Banos          9520 non-null   int64
 4   Area           9520 non-null   int64
 5   Barrio         9520 non-null   object
 6   UPZ            9478 non-null   object
 7   Valor          9520 non-null   object
 8   cost_millions  9520 non-null   object
dtypes: int64(3), object(6)
memory usage: 669.5+ KB

We change the cost_millions column type from object to float value

In [39]:
data.cost_millions=data.cost_millions.astype("float")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9520 entries, 0 to 9519
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           9520 non-null   object
 1   Descripcion    9520 non-null   object
 2   Habitaciones   9520 non-null   int64
 3   Banos          9520 non-null   int64
 4   Area           9520 non-null   int64
 5   Barrio         9520 non-null   object
 6   UPZ            9478 non-null   object
 7   Valor          9520 non-null   object
 8   cost_millions  9520 non-null   float64
dtypes: float64(1), int64(3), object(5)
memory usage: 669.5+ KB